*.log
.DS_Store
.env
/tools/phc_sync/.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

phc_mirror.dump
phc_mirror.sql
tools/
dossiers_series.csv

datas_clientes.csv

locais_riello.csv
